body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
}
nav {
    background-color: #eee;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav a:hover {
    background-color: #ddd;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;

}

.projects, .achievements, .programming_languages {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* programming languages */

.programming-container div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.programming-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.programming-card {
    background-color: #ffffff;
    border-radius: 10px;
}
.programming-card:hover {
    background-color: #eee;
    transform: translateY(-1px);
}