<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="../../js/display_deafaults.js" defer></script>
    <script src="../../js/scripts.js" defer></script>
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <p>About me: <span id="name"></span> <span id="lastname"></span> Age: <span id="age"></span></p>

    </header>
    <main>
        <div id="projects">My projects</div>
        
        <div id="achievements">My achievements</div>
        <div id="programming_languages">My programming languages</div>
    </main>
</body>
</html>