<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Complete Order Button - Full Page</title>
  <link rel="stylesheet" href="../css/shopping.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../../js/shopping.js" defer></script>
  <script src="../../js/display_defaults.js" defer></script>
</head>
<body>
    <main>
        <h1>Shopping Cart</h1>
        <div class="cart">
            <div class="item">
                <span class="name">Item 1</span>
                <span class="price">$10.00</span>
            </div>
            <div class="item">
                <span class="name">Item 2</span>
                <span class="price">$15.00</span>
            </div>
            <div class="item">
                <span class="name">Item 3</span>
                <span class="price">$20.00</span>
            </div>
            <div class="total">
                <span>Total:</span>
                <span class="amount">$45.00</span>
            </div>
        </div>
    </main>

    <button class="order">
        <span class="default">Complete Order</span>
        <span class="success">Order Placed
            <svg viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
        </span>
        <div class="box"></div>
        <div class="truck">
            <div class="back"></div>
            <div class="front">
                <div class="window"></div>
            </div>
            <div class="light top"></div>
            <div class="light bottom"></div>
        </div>
        <div class="lines"></div>
    </button>

</body>
</html>
